body{
    margin:0;
    padding:0;
}
.toparea{
    background:#D5B455;
}
.toparea1{
    text-align: center;
}
.top1,.top2{
    padding:10px 0px;
}
.top1 a:link,.top1 a:visited,.top2 a:link,.top2 a:visited{
    color:maroon;
    font-weight:500;
    text-decoration: none;
}
.top3{
    text-align:center;
    padding:10px 0;
}
.top3 a:link,.top3 a:visited{
    padding:5px 15px;
    border-radius:10px;
    text-decoration: none;
    background:maroon;
    color: #fff;
}
.top3 a:hover{
    background: #d5b455;
    color:maroon;
    font-weight:500;
}
.heading{
    background:black;
}
.heading1{
    text-align: center;
}
.heading1 img{
    width:50%;
    border-radius:100%;
}
.heading1 h3{
    color:#D5B455;
    padding-top:20px;
}
.heading1 p{
    color:#D5B455;
}
.heading1 ul{
    list-style:none;
    margin:0;
    padding:0;
    padding-top:20px;
}
.heading1 ul li{
    float:left;
}
.heading1 ul li a:link,.heading1 ul li a:visited{
        color:#D5B455;
        background:black;
        text-decoration:none;
        padding:10px 15px;
        display:block;
        border-right:solid 1px black;
}
.heading1 ul li a:hover{
    color:maroon;
    background:#D5B455;
}
.dropdown-menu{
    background: black !important;
}
.form{
    background-size: cover;
    padding:100px 0 120px 0;
}
.form1{
    background:rgba(213, 180, 85,0.7);border-radius: 20px; box-shadow:30px 30px 0px rgba(146, 43, 33,0.9);
}
.form1 form{
    padding:0 20px;
}
.form1 h1{
    text-align: center;
    font:normal bold 30px monospace;
    padding:20px 0;
    color:maroon;
}
.form1 label{
    color:black;
    font-weight:500;
    font-size:15px;
}
input[type=text],input[type=number],input[type=date]{
    width:100%;
    height:40px;
    border-radius:10px;
    border:none;
    background: #ececec;
    margin-bottom:10px;
}
.form-control{
    border: none !important;
    margin-bottom:30px;
}
.form1 select{
    width:100%;
    height:40px;
    border-radius:10px;
    border:none;
    background: #ececec;
    margin-bottom:10px;
}
.but{
    text-align: center;
    margin:0;
    margin-bottom:20px;
}
.submit{
    background:maroon;
    border-radius:10px;
    padding:10px 25px;
    border:none;
    color:white;
    font-weight:600;
}
.submit:hover{
    background:#D5B455;
    color:maroon;
}
.footerarea{
    background:black;
    padding:30px 0;
}
.foot1 h1{
    margin:0;
    padding:0;
	color:#D5B455;
	font:normal bold 25px monospace;
	padding-bottom:20px;
}
.foot1 p{
    text-align:justify;
    font:normal 300 18px arial;
    line-height:25px;
    color:white;
    margin-bottom:20px;
}
.foot1 ul{
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:20px;
}
.foot1 ul li{
    color:#EDD87B;
    font-size:22px;
    padding: 3px 0;
    transition: all 1s;
}
.foot1 ul li:hover{
    color:#EDD87B;
    transform:translate(10px,0);
}
.foot1 a:link,.foot1 a:visited{
    font-size:18px;
    color:#fff;
    text-decoration:none;
}
.foot1 a:hover{
    color:#EDD87B;
}
.foot1 .fa{
    font-weight:200;
}
.nav-link{
    color:#D5B455 !important;
    text-align: left !important;
    padding:10px 15px !important;
    font-weight:400;
}
.nav-link:hover{
    color:maroon !important;
    background:#D5B455 !important;
}
.navbar-toggler{
    border-color:#D5B455 !important;
    background:rgba(213, 180, 85,0.6)!important;
}