body{
    margin:0;
    padding:0;
}
.toparea{
    background:#D5B455;
}
.toparea1{
    text-align: center;
}
.top1,.top2{
    padding:10px 0px;
}
.top1 a:link,.top1 a:visited,.top2 a:link,.top2 a:visited{
    color:maroon;
    font-weight:500;
    text-decoration: none;
}
.top3{
    text-align:center;
    padding:10px 0;
}
.top3 a:link,.top3 a:visited{
    padding:5px 15px;
    border-radius:10px;
    text-decoration: none;
    background:maroon;
    color: #fff;
}
.top3 a:hover{
    background: #d5b455;
    color:maroon;
    font-weight:500;
}
.heading{
    background:black;
}
.heading1{
    text-align: center;
}
.heading1 img{
    width:80%;
    border-radius:100%;
}
.heading1 h3{
    color:#D5B455;
    padding-top:20px;
}
.heading1 p{
    color:#D5B455;
}
.heading1 ul{
    list-style:none;
    margin:0;
    padding:0;
    padding-top:20px;
}
.heading1 ul li{
    float:left;
}
.heading1 ul li a:link,.heading1 ul li a:visited{
        color:#D5B455;
        background:black;
        text-decoration:none;
        padding:10px 15px;
        display:block;
        border-right:solid 1px black;
}
.heading1 ul li a:hover{
    color:maroon;
    background:#D5B455;
}
.dropdown-menu{
    background: black !important;
}
.slide img{
    width:100%;
}
.page{
    background:rgba(213, 180, 85,0.5);
    padding:20px 0;
}
.page h3{padding:0;
    margin:0;
    text-align:center;
    line-height:40px;
}
.page a:link,.page a:visited{
        color:maroon;
        text-decoration:none;
}
.page a:hover{
            color:#D5B455;
            text-decoration:none;
}
.page a:active{
            color:violet;
}
.page h1{
                    padding:0;
                    margin:0;
                    text-align:center;
                    font:italic bold 45px monospace;
}
.photo{
    padding:50px 0;
}
.boxes{
    box-shadow: 0px 15px 35px rgba(0,0,0,0.5);
    margin-bottom:20px;
    border-radius:25px;
}
.box img{
    width: 100%;
    height:180px;
}
.box{
    position: relative;
    overflow: hidden;
    border-radius:25px;
}
.view{
    position: absolute;
    left:20px;
    right:20px;
    bottom:0;
    background: rgba(255,255,255,0.6);
    text-align: center;
    padding:20px 0;
    display:none;
}
.view a:link, .view a:visited{
    color:maroon;
    text-decoration: none;
    font-size:20px;
    font-weight:bold;
}
.view::before{
        position: absolute;
        background: transparent;
        width: 0;
        height: 0;
        content: "";
        left:0; 
    }
.view1::before{
        border-right: 15px solid transparent;
        top:70px;
        border-top: none;
        border-left: 15px solid transparent;
        border-top: 15px solid rgba(255,255,255,0.6);
    }
.boxes:hover .view{
    display:block;
    bottom:16px;
    transition:all 4s;
}
.footerarea{
    background:black;
    padding:30px 0;
}
.foot1 h1{
    margin:0;
    padding:0;
	color:#D5B455;
	font:normal bold 25px monospace;
	padding-bottom:20px;
}
.foot1 p{
    text-align:justify;
    font:normal 300 18px arial;
    line-height:25px;
    color:white;
    margin-bottom:20px;
}
.footmenu ul{
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:20px;
}
.footmenu ul li{
    color:#EDD87B;
    font-size:15px;
    padding: 3px 0;
    transition: all 1s;
}
.footmenu ul li:hover{
    color:#EDD87B;
    transform:translate(10px,0);
}
.footmenu a:link,.footmenu a:visited{
    font-size:18px;
    color:#fff;
    text-decoration:none;
}
.footmenu a:hover{
    color:#EDD87B;
}
.footmenu .fa{
    font-weight:200;
}
.footaddress ul{
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:20px;
}
.footaddress ul li{
    color:#EDD87B;
    font-size:22px;
    padding: 3px 0;
}
.footaddress ul li:hover{
    color:#EDD87B;
}
.footaddress a:link,.footaddress a:visited{
    font-size:18px;
    color:#fff;
    text-decoration:none;
}
.footaddress a:hover{
    color:#EDD87B;
}
.footaddress .fa{
    font-weight:200;
}
.nav-link{
    color:#D5B455 !important;
    text-align: left !important;
    padding:10px 15px !important;
    font-weight:400;
}
.nav-link:hover{
    color:maroon !important;
    background:#D5B455 !important;
}
.navbar-toggler{
    border-color:#D5B455 !important;
    background:rgba(213, 180, 85,0.6)!important;
}