body{
    margin:0;
    padding:0;
}
.toparea1{
    text-align: center;
}
.toparea{
    background:#D5B455;
}
.top1,.top2{
    padding:10px 0px;
}
.top1 a:link,.top1 a:visited,.top2 a:link,.top2 a:visited{
    color:maroon;
    font-weight:500;
    text-decoration: none;
}
.top3{
    text-align:center;
    padding:10px 0;
}
.top3 a:link,.top3 a:visited{
    padding:5px 15px;
    border-radius:10px;
    text-decoration: none;
    background:maroon;
    color: #fff;
}
.top3 a:hover{
    background: #d5b455;
    color:maroon;
    font-weight:500;
}
.heading{
    background:black;
}
.heading1{
    text-align: center;
}
.heading1 img{
    width:80%;
    border-radius:100%;
}
.heading1 h3{
    color:#D5B455;
    padding-top:20px;
}
.heading1 p{
    color:#D5B455;
}
.heading1 ul{
    list-style:none;
    margin:0;
    padding:0;
    padding-top:20px;
    font-size:15px;
}
.heading1 ul li{
    float:left;
}
.heading1 ul li a:link,.heading1 ul li a:visited{
        color:#D5B455;
        background:black;
        text-decoration:none;
        padding:10px 15px;
        display:block;
        border-right:solid 1px black;
}
.heading1 ul li a:hover{
    color:maroon;
    background:#D5B455;
    border-radius:10px;
}
.dropdown-menu{
    background: black !important;
}
.slide img{
    width:100%;
}
.page{
    background:rgba(213, 180, 85,0.5);
    padding:20px 0;
}
.page h3{padding:0;
    margin:0;
    text-align:center;
    line-height:40px;
}
.page a:link,.page a:visited{
        color:maroon;
        text-decoration:none;
}
.page a:hover{
            color:#D5B455;
            text-decoration:none;
}
.page a:active{
            color:violet;
}
.page h1{
                    padding:0;
                    margin:0;
                    text-align:center;
                    font:italic bold 45px monospace;
}
.plan{
    padding:50px 0;
}
.plan1 h2{
    text-align:center;   
	color: rgb(219, 168, 23);
	font:italic bold 30px georgia;
	padding:0;
	margin:0;
    margin-bottom:30px;
    text-shadow: 1px 0px 1px #CCCCCC, 0px 1px 1px #EEEEEE, 2px 1px 1px #CCCCCC, 1px 2px 1px #EEEEEE, 3px 2px 1px #CCCCCC, 2px 3px 1px #EEEEEE, 4px 3px 1px #CCCCCC, 3px 4px 1px #EEEEEE, 5px 4px 1px #CCCCCC, 4px 5px 1px #EEEEEE, 6px 5px 1px #CCCCCC, 5px 6px 1px #EEEEEE, 7px 6px 1px #CCCCCC;
}
.plan2 p{
    text-align:justify;
    font-size:17px;
}
.venue{
    background:url('photos/plan1.webp') no-repeat fixed;
    background-size:cover;
    margin-bottom:30px;
    padding:100px 0;
}
.venued{
    background:url('photos/plan2.webp') no-repeat fixed;
    background-size:cover;
    margin-bottom:30px;
    padding:100px 0;
}
.food{
    background:url('photos/plan3.webp') no-repeat fixed;
    background-size:cover;
    margin-bottom:30px;
    padding:100px 0;
}
.communication{
    background:url('photos/plan4.webp') no-repeat fixed;
    background-size:cover;
    margin-bottom:30px;
    padding:100px 0;
}
.entertainment{
    background:url('photos/plan5.webp') no-repeat fixed;
    background-size:cover;
    margin-bottom:30px;
    padding:100px 0;
}
.mehndi{
    background:url('photos/plan6.webp') no-repeat fixed;
    background-size:cover;
    margin-bottom:30px;
    padding:100px 0;
}
.photography{
    background:url('photos/plan7.webp') no-repeat fixed;
    background-size:cover;
    margin-bottom:30px;
    padding:100px 0;
}
.hospitality{
    background:url('photos/plan8.webp') no-repeat fixed;
    background-size:cover;
    margin-bottom:30px;
    padding:100px 0;
}
.entry{
    background:url('photos/plan9.webp') no-repeat fixed;
    background-size:cover;
    margin-bottom:30px;
    padding:100px 0;

}
.venue1{
    padding:30px 0;
}
.venue2{
    background: #ffffffd6;
    padding:30px 0px;
}
.venue2 h3{
    text-align: center;
    color:maroon;
    font:normal 600 35px monospace;
    margin:0;
    padding:0;
    text-shadow: -1px 6px 9px rgba(0,0,0,0.4);
    margin-bottom:15px;
    letter-spacing:2px;
}
.venue2 p{
    text-align: justify;
    font-size:18px;
    font-family:poppins;
}
.footerarea{
    background:black;
    padding:30px 0;
}
.foot1 h1{
    margin:0;
    padding:0;
	color:#D5B455;
	font:normal bold 25px monospace;
	padding-bottom:20px;
}
.foot1 p{
    text-align:justify;
    font:normal 300 18px arial;
    line-height:25px;
    color:white;
    margin-bottom:20px;
}
.footmenu ul{
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:20px;
}
.footmenu ul li{
    color:#EDD87B;
    font-size:15px;
    padding: 3px 0;
    transition: all 1s;
}
.footmenu ul li:hover{
    color:#EDD87B;
    transform:translate(10px,0);
}
.footmenu a:link,.footmenu a:visited{
    font-size:18px;
    color:#fff;
    text-decoration:none;
}
.footmenu a:hover{
    color:#EDD87B;
}
.footmenu .fa{
    font-weight:200;
}
.footaddress ul{
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:20px;
}
.footaddress ul li{
    color:#EDD87B;
    font-size:22px;
    padding: 3px 0;
}
.footaddress ul li:hover{
    color:#EDD87B;
}
.footaddress a:link,.footaddress a:visited{
    font-size:18px;
    color:#fff;
    text-decoration:none;
}
.footaddress a:hover{
    color:#EDD87B;
}
.footaddress .fa{
    font-weight:200;
}
.nav-link{
    color:#D5B455 !important;
    text-align: left !important;
    padding:10px 15px !important;
    font-weight:400;
}
.nav-link:hover{
    color:maroon !important;
    background:#D5B455 !important;
}
.navbar-toggler{
    border-color:#D5B455 !important;
    background:rgba(213, 180, 85,0.6)!important;
}
@media screen and (max-width:768px){
    .boxes{
        height:450px;
    }
}
@media screen and (min-width:768px){
    .heading1 h3{
        font-size:20px;
    }
}