body{
    margin:0;
    padding:0;
}
.toparea{
    background:#D5B455;
}
.toparea1{
    text-align: center;
}
.top1,.top2{
    padding:10px 0px;
}
.top1 a:link,.top1 a:visited,.top2 a:link,.top2 a:visited{
    color:maroon;
    font-weight:500;
    text-decoration: none;
}
.top3{
    text-align:center;
    padding:10px 0;
}
.top3 a:link,.top3 a:visited{
    padding:5px 15px;
    border-radius:10px;
    text-decoration: none;
    background:maroon;
    color: #fff;
}
.top3 a:hover{
    background: #d5b455;
    color:maroon;
    font-weight:500;
}
.heading{
    background:black;
}
.heading1{
    text-align: center;
}
.heading1 img{
    width:80%;
    border-radius:100%;
}
.heading1 h3{
    color:#D5B455;
    padding-top:20px;
}
.heading1 p{
    color:#D5B455;
}
.heading1 ul{
    list-style:none;
    margin:0;
    padding:0;
    padding-top:20px;
    font-size:15px;
}
.heading1 ul li{
    float:left;
}
.heading1 ul li a:link,.heading1 ul li a:visited{
        color:#D5B455;
        background:black;
        text-decoration:none;
        padding:10px 15px;
        display:block;
        border-right:solid 1px black;
}
.heading1 ul li a:hover{
    color:maroon;
    background:#D5B455;
    border-radius:10px;
}
.dropdown-menu{
    background: black !important;
}
.slide img{
    width:100%;
}
.page{
    background:rgba(213, 180, 85,0.5);
    padding:20px 0;
}
.page h3{padding:0;
    margin:0;
    text-align:center;
    line-height:40px;
}
.page a:link,.page a:visited{
        color:maroon;
        text-decoration:none;
}
.page a:hover{
            color:#D5B455;
            text-decoration:none;
}
.page a:active{
            color:violet;
}
.page h1{
                    padding:0;
                    margin:0;
                    text-align:center;
                    font:italic bold 45px monospace;
}
.service{
    background:#ECECEC;
    padding:50px 0;
}
.box{background:rgba(213, 180, 85,0.5);
    padding:10px 0;
    padding-bottom:30px;
    border-radius:40px 0px 0px 40px;
    margin-bottom:20px;
    text-align: center;
}
.box h1{
            text-align:center;
            font:normal bold 25px monospace;
            margin:0;
            padding:0;
            padding-bottom:10px;
}
.box img{
    border-radius:20px;
    width:80%;
    height:200px;
    margin-bottom:20px;
}
.box p{
    text-align:center;
	font:normal bold 15px arial;
    margin:0;
	padding:0;
}
.box a:link,.box a:visited{
        color:white;
        text-decoration:none;
        padding:10px 25px;
        background:maroon;
        border-radius:20px;
}
.box a:hover{
            color:maroon;
            text-decoration:none;
            background:rgba(213, 180, 85,0.5);
}
.box1{
    background:white;
    border-radius:0px 40px 40px 0px;
    padding:30px 20px 30px 20px;
    margin-bottom:20px;
}
.box1 p{
    text-align:justify;
    color:maroon;
    font:normal 300 18px poppins;
    margin:0;
    padding:0;
    line-height:30px;
}
.box22{background:rgba(213, 180, 85,0.5);
    padding:10px 0;
    padding-bottom:30px;
    border-radius:0px 40px 40px 0px;
    margin-bottom:20px;
    text-align: center;
}
.box22 h1{
            text-align:center;
            font:normal bold 25px monospace;
            margin:0;
            padding:0;
            padding-bottom:10px;
}
.box22 img{
    border-radius:20px;
    width:80%;
    height:200px;
    margin-bottom:20px;
}
.box22 p{
    text-align:center;
	font:normal bold 15px arial;
    margin:0;
	padding:0;
}
.box22 a:link,.box22 a:visited{
        color:white;
        text-decoration:none;
        padding:10px 25px;
        background:maroon;
        border-radius:20px;
}
.box22 a:hover{
            color:maroon;
            text-decoration:none;
            background:rgba(213, 180, 85,0.5);
}
.box11{
    background:white;
    border-radius:40px 0px 0px 40px;
    padding:30px 20px 30px 20px;
    margin-bottom:20px;
}
.box11 p{
    text-align:justify;
    color:maroon;
    font:normal 300 18px poppins;
    margin:0;
    padding:0;
    line-height:30px;
    overflow: hidden;

}
.footerarea{
    background:black;
    padding-top:30px;
}
.foot1 h1{
    margin:0;
    padding:0;
	color:#D5B455;
	font:normal bold 25px monospace;
	padding-bottom:20px;
}
.foot1 p{
    text-align:justify;
    font:normal 300  arial;
    line-height:25px;
    color:white;
    margin-bottom:20px;
}
.footmenu ul{
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:20px;
}
.footmenu ul li{
    color:#EDD87B;
    padding: 3px 0;
    transition: all 1s;
}
.footmenu ul li:hover{
    color:#EDD87B;
    transform:translate(10px,0);
}
.footmenu a:link,.footmenu a:visited{
    color:#fff;
    text-decoration:none;
}
.footmenu a:hover{
    color:#EDD87B;
}
.footmenu .fa{
    font-weight:200;
}
.footaddress ul{
    list-style:none;
    margin:0;
    padding:0;
    margin-bottom:20px;
}
.footaddress ul li{
    color:#EDD87B;
    padding: 3px 0;
}
.footaddress ul li:hover{
    color:#EDD87B;
}
.footaddress a:link,.footaddress a:visited{
    color:#fff;
    text-decoration:none;
}
.footaddress a:hover{
    color:#EDD87B;
}
.footaddress .fa{
    font-weight:200;
}
.lastarea{
    background:#2B2626;
    padding:10px 0;
    text-align: center;
}
.lastarea p{
    color:#D5B455;
    padding:0;
}
.nav-link{
    color:#D5B455 !important;
    text-align: left !important;
    padding:10px 15px !important;
    font-weight:400;
}
.nav-link:hover{
    color:maroon !important;
    background:#D5B455 !important;
}
.navbar-toggler{
    border-color:#D5B455 !important;
    background:rgba(213, 180, 85,0.6)!important;
}
@media screen and (min-width:768px){
    .box1,.box11{
        height:320px;
        padding:20px;
    }
}
@media screen and (min-width:768px){
    .heading1 h3{
        font-size:20px;
    }
}